/* Error: expected ")".
 *    ,
 * 75 | @function nome-da-funcao($argumento1, $argumento2, ...) {
 *    |                                                    ^
 *    '
 *   sass\style.scss 75:52  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a    \2577 \a 75 \2502  @function nome-da-funcao($argumento1, $argumento2, ...) {\d\a    \2502                                                     ^\a    \2575 \a   sass\\style.scss 75:52  root stylesheet';
}
